<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Pioneers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body>
        <div class="game-container">
            <h1 class="main-title">Pixel Pioneers</h1>
            <div class="button-container">
                <a href="/game-start" class="menu-button">Game Start</a>
                <a href="/artists-statement" class="menu-button">Artist's Statement</a>
            </div>
        </div>
    </body>
</html>